.movie-container {
    position: relative;
    top: 12%;
}

h1 {
    font-size: 3rem;
}

.description {
    font-size: 1.8rem;
}

.duration {
    font-size: 1.6rem;
    color: #a9a9a9;
}

.release-date {
    font-size: 1.5rem;
}

.view-type {
    font-size: 1.4rem;
}

.languages {
    font-size: 1.2rem;
}