<nav class="nav mt-4">
    <div class="container">
        <div class="logo">
            <a>Bookie</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="Search Movies" (input)="getSuggestions($event)" [nzAutocomplete]="auto" [(ngModel)]="searchTerm"/>
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search" (click)="searchMovie()"></span>
                    </ng-template>
                    <nz-autocomplete [nzDataSource]="movieSuggestions" nzBackfill #auto></nz-autocomplete>
                </li>
                <li><a routerLink="app/auth/login" *ngIf="!appService.loginStatus">Login</a></li>
                <li><a routerLink="app/auth/register" *ngIf="!appService.loginStatus">Register</a></li>
                <li><a (click)="logout()" *ngIf="appService.loginStatus">Logout</a></li>
                <nz-divider nzType="vertical" *ngIf="appService.loginStatus"></nz-divider>
                <li><a *ngIf="appService.loginStatus">Welcome! {{ appService.username }}</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>